
[submodule "zsh/.zsh/vendor/zsh-completions"]
	path = zsh/.zsh/vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zsh/vendor/zsh-history-substring-search"]
	path = zsh/.zsh/vendor/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
