snippet it "describe_it spec" b
@it
def ${1:can_dance_upside_down}():
	$0
endsnippet

snippet def	"method" b
def $1(${2:self, }$3):
	$0

endsnippet

snippet cla "class" b
class $1${2:($3)}:
	${4:def __init__(self$5):
	  $6
}
	$0
endsnippet
